<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<section class="setup">
  <h2>Success</h2>
  <p>You're all set to use the  skill. <br />Get started by saying:</p>
  <p class="sampleSpeech">"Alexa, open Account Linking"</p><p>When ready, close this window to return to the Alexa App.</p>
</section>

<iframe src="<%= redirectUrl %>"></iframe>

</body>
</html>
